h1{
    color: darkblue;
    background-color: darkmagenta;
}
h2{
    color: olivedrab;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.kuria{
    background-color: brown;
}
body{
    background-color:cornflowerblue;
}

